/* NavBar*/
.nav_text {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
  }
  
  /* Body */
  .body_text {
    font-family: 'Lato', sans-serif;
  }
  
  /* Flex */
  .container {
    display: flex;
  }
  
  /* Cards */
  .card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  margin:10px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .card_container {
    padding: 2px 16px;
    padding-top: 10px;
  }
  
  .card_paragaph {
    padding:0px;
    margin:0px;
  }
  
  .card_title {
    margin-bottom:1px;
  }
  
  
  .card_grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto; 
  }
  
  /* Search bar button */
  .search {
    margin:3px;
  }
  
  .space {
    margin-left:5px;
    margin-right:5px;
  }
  
  .detail_header {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  /*header-stuff*/ 
  .header-container{
    position: relative; 
  }
  
  .header-content-container-left{
    position: absolute;
    top: 40%;
    left: 10%; 
  }
  
  .header-content-container-right{
    position: absolute;
    top: 40%;
    right: 10%; 
  }
  
  .header-title{
    font-family: 'Montserrat';
    color: white;
  }
  
  .header-subtitle{
    font-size: larger;
    color: white;
  }
  
  .header-button{
    background-color: #1d94d8;
    border-color: #1d94d8;
    font-weight: bolder;
    color: white;
    padding: 12px;
  }
  
  /* button */ 
  .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #1d94d8 !important;
  }
  
  /* Button for */
  .create_prescriber {
    justify-content:flex-end;
  }
  
  /*footer*/
  .footer {
    position: absolute; 
    height: 50px; 
    left: 0; 
    bottom: 0; 
    width: 100%; 
    background-color: #1d94d8;
    color: white; 
    text-align: center;
    overflow: hidden;   
  }
  
  .html{
    position: relative;
    min-height: 100%; 
  }
  
  /* Mobile Styles */
  @media only screen and (max-width: 400px) {
  .center{
    width: 100%
  }
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
  .center{
    width: 75%
  }
  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
  .center{
    width: 50%
  }
  }
  
  div.scrollbar {
    background-color: aliceblue;
    height: 150px;
    width: 400px;
    overflow: auto;
    font-family: 'Lato', sans-serif;
  }