{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Página para actualizar productos</h1>

    <form action="{% url 'edit' %}" method="post" class="search">
        {% csrf_token %}
        <label for="codigo"><b>Código:</b></label>
        <input type="text" id="codigo" name="codigo" value="{{inventory.codigo}}"><br>

        <label for="marca"><b>Marca:</b></label>
        <input type="text" id="marca" name="marca" value="{{inventory.marca}}"><br>

        <label for="descripcion"><b>Descripción:</b></label>
        <input type="text" id="descripcion" name="descripcion" value="{{inventory.descripcion}}"><br>
        
        <label for="ubicacion"><b>Ubicación:</b></label>
        <input type="text" id="ubicacion" name="ubicacion" value="{{inventory.ubicacion}}"><br>

        <label for="unidad"><b>Unidad:</b></label>
        <input type="text" id="unidad" name="unidad" value="{{inventory.unidad}}"><br>

        <label for="stock"><b>Stock:</b></label>
        <input type="number" id="stock" name="stock" value="{{inventory.stock}}"><br>
        
        <label for="dolares"><b>Dólares:</b></label>
        <input type="number" id="dolares" name="dolares" value="{{inventory.dolares}}"><br>

        <label for="soles"><b>Soles:</b></label>
        <input type="number" id="soles" name="soles" value="{{inventory.soles}}"><br>

        <label for="valor_del_stock"><b>Valor del stock:</b></label>
        <input type="number" id="valor_del_stock" name="valor_del_stock" value="{{inventory.valor_del_stock}}"><br>

        <label for="tipo_de_cambio"><b>Tipo de cambio:</b></label>
        <input type="number" id="tipo_de_cambio" name="tipo_de_cambio" value="{{inventory.tipo_de_cambio}}"><br>

        <button class="btn btn-primary my-2 my-sm-0 space" type="submit">Actualizar producto</button>
    </form>  

{% endblock %}