{% extends 'base.html' %}
{% load static %}
{% block content %}
<html>
    <body> 
        <div class="position-relative overflow-hidden text-center bg-light">
            <div class="col-md-5 p-lg-5 mx-auto mg-5"> 
                <img src="static/img/header-img.jpeg" alt="fields" style="width:100%;">
                <h1 class="display-4 font-weight-normal">Inka Repuestos y Servicios</h1>
                <p class="lead font-weight-normal"> 
                Welcome to your inventory management website</p> 
                <button type="button" class="btn btn-primary my-2 my-sm-0" onclick="window.location.href='{% url 'inventory' %}'">Inventario</button>   
                <br><br><br><br><br>
            </div> 

        </div>
    </body>
</html> 
{% endblock %}