{% extends 'base.html' %}
{% load static %}
{% comment %} 
{% endcomment %}
{% block content %}

<div class="search_header search" style="float-top=10%">
    <form class="form-inline my-2 my-lg-0" class="search" method="post" action="{% url 'inventory' %}">
        {% csrf_token %}
        <input class="form-control mr-sm-2 search" id="search" name="search" type="search" placeholder="Buscar..." aria-label="Search">
        <button class="btn btn-primary my-2 my-sm-0 space" type="submit">Buscar</button>
        <button type="button" class="btn btn-primary my-2 my-sm-0 create_button" onclick="window.location.href='{% url 'create' %}'">Añadir Nuevo Producto</button> 
</div> 


<div class="card_grid">
    {% for inventory in products %}
        <div class="card">
            <div class="card_container">
                <h4 class="card_title"><a href="{% url 'productdetails' product_id=inventory.product_id %}"><b>{{inventory}}</b></a></h4>
                <p class="card_paragaph"><b>Codigo</b> {{inventory.codigo}}</p>
                <p class="card_paragaph"><b>Ubicacion</b> {{inventory.ubicacion}}</p>
                <p class="card_paragaph"><b>Stock</b> {{inventory.stock}}</p>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}